<form name="periodDeleteForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal">
            <span aria-hidden="true" data-ng-click="vm.cancel(periodDeleteForm)">&times;</span>
        </button>
        <h3 class="panel-title">{{'period_delete'|trans:{}:'resource'}}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button"
            class="btn btn-default"
            data-dismiss="modal"
            data-ng-click="vm.cancel(periodDeleteForm)">
            {{ 'cancel'|trans:{}:'platform' }}
        </button>
        <button type="submit"
            class="btn btn-primary"
            data-ng-click="vm.doDeletePeriod(periodDeleteForm)">
            {{ 'delete'|trans:{}:'platform' }}
        </button>
    </div>
</form>
