<div class="categorytree">
    <div data-ng-if="vm.tree!=[]">
        <table class="table">
            <tr ng-repeat="category in vm.tree track by category.id">
                <td>{{category.indent}} {{category.name}}</td>
                <td class="col-md-1">
                    <a class="btn btn-primary btn-sm category-modify-btn"
                        title="{{ 'category_modify'|trans:{}:'resource' }}"
                        data-ng-click="vm.showEditCategoryForm(category, vm.sid)"><i class="fa fa-edit"></i>
                    </a>
                </td>
                <td class="col-md-1"><a class="btn btn-primary btn-sm category-add-btn"
                    title="{{ 'category_add'|trans:{}:'resource' }}"
                    data-ng-click="vm.showAddCategoryForm(category)"><i class="fa fa-plus"></i></a>
                </td>
                <td class="col-md-1"><a class="btn btn-danger btn-sm category-delete-btn"
                    title="{{ 'category_delete'|trans:{}:'resource' }}"
                    data-ng-click="vm.showDeleteCategory(category, vm.sid)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </table>
    </div>
{{vm.tree}}
    <div data-ng-if="vm.tree.length===0">
        <a class="btn btn-primary btn-sm category-add-btn"
            data-id="0" data-sid="{{vm.sid}}"
            data-ng-click="vm.showAddCategoryForm(0)"><i class="fa fa-plus"></i>
            {{ 'category_root_add'|trans:{}:'resource' }}
        </a>
    </div>
</div>
