<form name="categoryAddForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal"
            aria-label="{{ 'close'|trans }}">
            <span aria-hidden="true" data-ng-click="vm.cancel(categoryAddForm)">&times;</span>
        </button>
        <h3 class="panel-title">{{'category_add'|trans:{}:'resource'}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" data-ng-class="{ 'has-error': (categoryAddForm.$submitted || categoryAddForm.name.$dirty) && !categoryAddForm.name.$valid }">
            <label for="name">{{'category_name'|trans:{}:'resource'}}</label>
            <input id="name" type="text"
                name="name" class="form-control"
                data-ng-model="vm.addedCategory.name"
                data-valid-name
                required />
            <p class="help-block"
                data-ng-if="(categoryAddForm.$submitted || categoryAddForm.name.$dirty) && categoryAddForm.name.$error.required">
                {{ 'error_not_blank'|trans:'resource' }}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
            class="btn btn-default"
            data-dismiss="modal"
            data-ng-click="vm.cancel(categoryAddForm)">
            {{ 'cancel'|trans:{}:'platform' }}
        </button>
        <button type="submit"
            class="btn btn-primary"
            data-ng-disabled="!categoryAddForm.$valid"
            data-ng-click="vm.doAddCategory(categoryAddForm)">
            {{ 'create'|trans:{}:'platform' }}
        </button>
    </div>
</form>
