<form name="questionDeleteForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal">
            <span aria-hidden="true" data-ng-click="SimupollCreatorController.cancel(questionDeleteForm)">&times;</span>
        </button>
        <h3 class="panel-title">{{'question_delete'|trans:{}:'resource'}}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button"
            class="btn btn-default"
            data-dismiss="modal">
        {{ 'cancel'|trans:{}:'platform' }}
        </button>
        <button type="submit"
            class="btn btn-primary"
            data-ng-click="SimupollCreatorController.doDeleteQuestion(questionDeleteForm)">
        {{ 'create'|trans:{}:'platform' }}
        </button>
    </div>
</form>
