<div class="simupollcreator">
    <form name="simupollCreatorForm" novalidate>
        <div class="form-group" data-ng-class="{ 'has-error': (simupollCreatorForm.$submitted || simupollCreatorForm.name.$dirty) && !simupollCreatorForm.name.$valid }">
            <label for="name">{{ 'description'|trans }}</label>
            <textarea data-ui-tinymce="vm.tinymceOptions"
                data-before-unload="off"
                class="form-control"
                name="description"
                data-ng-model="vm.description"></textarea>
        </div>

        <div class="questions">
            <ul class="questiongroup">
                <li class="question"
                    data-ng-repeat="question in vm.simupollquestions"
                    questions-list>
                </li>
            </ul>

            <div class="btn-group" role="group">
                <button type="button"
                    data-ng-click="vm.inlineAddQuestion()"
                    class="btn btn-sm btn-primary">
                    <span class="fa fa-plus"></span>
                    <span>{{ 'question_add'|trans:{}:'resource' }}</span>
                </button>
            </div>

            <div class="btn-group" role="group">
                <button type="button"
                    data-ng-click="vm.saveSimupoll(simupollCreatorForm)"
                    class="btn btn-sm btn-primary">
                    <span>{{ 'save'|trans }}</span>
                </button>
            </div>

        </div>
    </form>
</div>
