{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% extends layout %}

{% block section_content %}
<div class="panel-heading">
    <h3 class="panel-title">{{ 'tag_create' | trans }}</h3>
</div>

<div class="panel-body">

    {{ form(form) }}

    <div class="panel-footer">
        <a href="{{ path('tag') }}" class="btn btn-primary left"><i class="fa fa-arrow-left"></i> Back to the list</a>
    </div>
{% endblock %}