.questiongroup , .propositiongroup { list-style-type:none;padding: 0}
.questiongroup td { border-top:0!important;}
li.question{padding:0.5em 0;margin-bottom:0.5em;border-bottom: 3px solid #ddd}
li.proposition table {margin:0}
.question_label label{width: 100%}
.propositiongroup{border-left: 1px solid #ccc}
.propositiongroup li:last-child{padding: 8px}