<div class="categorytree">
    <div data-ng-if="CategoryController.tree!=[]">
        <table class="table">
            <tr ng-repeat="category in CategoryController.tree">
                <td>{{category.indent}} {{category.name}}</td>
                <td class="col-md-1"><a class="btn btn-primary btn-sm category-modify-btn" data-id="{{category.id}}" data-sid="{{CategoryController.sid}}" title="Modifier la catégorie" data-ng-click="CategoryController.showEditCategoryForm(category.id, CategoryController.sid)"><i class="fa fa-edit"></i></a></td>
                <td class="col-md-1"><a class="btn btn-primary btn-sm category-add-btn" data-id="{{category.id}}" data-sid="{{CategoryController.sid}}" title="Créer une catégorie enfant" data-ng-click="CategoryController.showAddCategoryForm(category.id, CategoryController.sid)"><i class="fa fa-plus"></i></a></td>
                <td class="col-md-1"><a class="btn btn-danger btn-sm category-delete-btn" data-id="{{category.id}}" data-sid="{{CategoryController.sid}}" title="Supprimer la catégorie" data-ng-click="CategoryController.deleteCategory(category.id, CategoryController.sid)"><i class="fa fa-trash"></i></a></td>
            </tr>
        </table>
    </div>
    <div data-ng-if="CategoryController.tree==[]">
        <a class="btn btn-primary btn-sm category-add-btn" data-id="0" data-sid="{{CategoryController.sid}}" href="#"><i class="fa fa-plus"></i>{{ 'category_root_add'|trans:{}:'resource' }}</a>
    </div>
</div>
