<form name="categoryDeleteForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal">
            <span aria-hidden="true" data-ng-click="CategoryController.cancel(categoryDeleteForm)">&times;</span>
        </button>
        <h3 class="panel-title">{{'category_delete'|trans:{}:'resource'}}</h3>
    </div>
    <div class="modal-body">
        <pre>Attention, supprimer une catégorie qui a des enfants supprimera aussi ses enfants</pre>
    </div>
    <div class="modal-footer">
        <button type="button"
            class="btn btn-default"
            data-dismiss="modal">
        {{ 'cancel'|trans:{}:'platform' }}
        </button>
        <button type="submit"
            class="btn btn-primary"
            data-ng-click="CategoryController.doDeleteCategory()">
        {{ 'create'|trans:{}:'platform' }}
        </button>
    </div>
</form>
